html, body { height: 100%; margin: 0; padding: 0; }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}
#map { height: 80%; }
#logo-rozklad {
    font-size: 36px;
    font-family: 'Lobster', cursive;
    font-style: italic;
    left: 15px;
    padding: 0 10px;
}
.transport_nowrap{
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*Menu list ---------------------------------------------------------------------------------*/
.mobile_size_menu_list {
    background-color: #e3f2fd;
}
.mobile_size_menu_list li:hover {
    background-color: #82b1ff;
}
.mobile_size_menu_list li a {
    color: #000;
}
.mobile_size_menu_list li a:hover {
    color: #fff;
}
.mobile_size_menu_list li {
    width: 100%;
}
/*Parallax configuration ----------------------------------------------------------------------*/
.parallax-container {
    height: 400px;
}
.parallax_text {
    text-align: justify;
}
/*---------------------------------------------------------------------------------------------*/
/*LEFT PANEL-----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*btn------------------------------------------------------------------------------------------*/
.left_panel_headers i img {
    position: relative;
    top: 5px;
}
.left_panel_choice_route{
    margin: 20px 0;
}
.left_panel_choice_route a {
    padding: 0;
    margin: 10px 0;
    width: 48%;
}

/*route detail --------------------------------------------------------------------------------------------------------*/

/*.left_panel_route_detail {*/
/*}*/
.left_panel_route_detail_title{
    /*white-space: nowrap;*/
    /*word-wrap: normal;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}
.rozklad_station_table a {
    cursor: pointer;
    /*padding: 5px;*/
}
.rozklad_station_table a.btn-floating {
    position: absolute;
    right: 10px;
    top: 10px;
}
.rozklad_station_table a span{
    display: inline-block;
    position: relative;
    width: 40px;
    left: 0;
}
/*choice transports -----------------------------------------------------------------------------*/
/*.left_panel_transports {*/
/*}*/
.left_panel_transports_content {
    display: inline-block;
}
.left_panel_transports_icons {
    margin: 10px 0;
}
.left_panel_transports_icons a {
    display: inherit;
    text-align: center;
    margin: 0 auto;
}
.left_panel_transports_list p {
    padding: 10px;
    margin: 10px;
}
.left_panel_transports_list p:hover {
    cursor: pointer;
}
/*---------------------------------------------------------------------------------------------*/
/*RIGHT PANEL----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
.right_panel_choice_window ul{
    overflow-x: hidden;
    top: 18px;
}
#timetable, #map {
    margin-top: 35px;
}
#map_container {
    height: 500px;
}




.rozklad_Icon {
    color: #777;
    margin-top: 2px;
    padding: 0 3px;
}
.rozklad_Icon:hover {
    color: #444;
}
#rozklad-controlUI {
    margin-top: 10px;
}
#rozklad-geoUI {
    margin-top: 53px;
}
.rozklad_UI {
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-right: 10px;
    right: 0;
    z-index: 999;
}




/*Description head------------------------------------------*/
.rozklad_tour_description_head {
    margin: 0;
    border-radius: 50px;
}
.rozklad_tour_description_head h5{
    font-family: 'Lobster', cursive;
    color: #555;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    /*white-space: nowrap;*/
    /*word-wrap: normal;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.rozklad_tour_description_img div img{
    margin: 8px 0 0 0;
    height: 50px;
    width: 50px;
}
.rozklad_tour_description_icon {
    margin: 5px 0 0 5px;
    color: white;
}

.rozklad_tour_description_control_panel{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    /*color: #777;*/
    /*margin-bottom: 5px;*/
    /*padding: 15px 0;*/
    margin: 15px 0;
    text-align: center;
}
.rozklad_tour_description_stationName {
    display: inline-block;
    max-width: 250px;
    /*white-space: nowrap;*/
    /*word-wrap: normal;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}
.rozklad_tour_description_control_direction {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.rozklad_tour_description_control_direction:hover {
    cursor: pointer;
    color: #333;
}

/*route---------------------------------------------------------------------------------------------------------------*/
.rozklad_route_description_content {
    display: block;
    /*background-color: #fcffd6;*/
    /*border-radius: 10px;*/
    /*max-height: 373px;*/
    /*margin: 10px;*/
    /*font-size: 16px;*/
    /*color: #555;*/
    /*overflow-y: auto;*/
}