html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 80%; }
#logo-rozklad {
    font-size: 36px;
    font-family: 'Lobster', cursive;
    font-style: italic;
    left: 15px;
}
/*Menu list ---------------------------------------------------------------------------------*/
.mobile_size_menu_list {
    background-color: #e3f2fd;
}
.mobile_size_menu_list li:hover {
    background-color: #82b1ff;
}
.mobile_size_menu_list li a {
    color: #000;
}
.mobile_size_menu_list li a:hover {
    color: #fff;
}
.mobile_size_menu_list li {
    width: 100%;
}
/*Parallax configuration ----------------------------------------------------------------------*/
.parallax-container {
    height: 400px;
}
.parallax_text {
    text-align: justify;
}
/*---------------------------------------------------------------------------------------------*/
/*LEFT PANEL-----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*btn------------------------------------------------------------------------------------------*/
/*.left_panel_choice_transport {*/
/*}*/
/*.left_panel_choice_transport li {*/
/*}*/
.left_panel_headers i img {
    position: relative;
    top: 5px;
}
.left_panel_choice_route{
    margin: 20px 0;
}
.left_panel_choice_route a {
    padding: 0;
    margin: 10px 0;
    width: 48%;
}
/*choice transports -----------------------------------------------------------------------------*/
/*.left_panel_transports {*/
/*}*/
.left_panel_transports_content {
    display: inline-block;
}
.left_panel_transports_icons {
    margin: 10px 0;
}
.left_panel_transports_icons a {
    display: inherit;
    text-align: center;
    margin: 0 auto;
}
.left_panel_transports_list p {
    padding: 10px;
    margin: 10px;
}
.left_panel_transports_list p:hover {
    cursor: pointer;
}
/*---------------------------------------------------------------------------------------------*/
/*RIGHT PANEL----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
.right_panel_choice_window ul{
    overflow-x: hidden;
    top: 18px;
}
#timetable, #map {
    margin-top: 35px;
}
#map_container {
    height: 500px;
}




.rozklad_Icon {
    color: #777;
    margin-top: 2px;
    padding: 0 3px;
}
.rozklad_Icon:hover {
    color: #444;
}
#rozklad-controlUI {
    margin-top: 10px;
}
#rozklad-geoUI {
    margin-top: 53px;
}
.rozklad_UI {
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-right: 10px;
    right: 0;
    z-index: 999;
}




/*Description head------------------------------------------*/
.rozklad_tour_description_head {
    margin: 0;
    background-color: #fff973;
}
.rozklad_tour_description_head h5{
    font-family: 'Lobster', cursive;
    color: #555;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rozklad_tour_description_img{
    padding: 0;
}
.rozklad_tour_description_img div img{
    margin: 9px 0 0 9px;
    height: 50px;
    width: 50px;
}
.rozklad_tour_description_icon {
    padding: 0;
    top: 9px;
    text-align: center;
}
.rozklad_tour_description_icon i {
    padding: 7px;
    margin: 0 auto;
    border: 3px solid #555;
    border-radius: 5px;
}
.rozklad_tour_description_icon i:hover {
    cursor: pointer;
    background-color: yellow;
}
/*Description content------------------------------------------*/
.rozklad_route_description_content {
    background-color: #fcffd6;
    border-radius: 10px;
    max-height: 373px;
    margin: 10px;
    font-size: 16px;
    color: #555;
    overflow-y: auto;
}
.rozklad_station_table{
    margin: 0;
    padding: 0;
}
.rozklad_station_table i{
    color: red;
}
.rozklad_station_table dt{
    width: 30px;
    text-align: center;
}
.rozklad_station_table dd{
    margin: 0 0 0 40px;
}
.rozklad_station_table:hover{
    cursor: pointer;
    color: #000;
    /*font-weight: 600;*/
}
.rozklad_station_table_active {
    color: #000;
    font-weight: 600;
    background-color: #ffff61;
    border-radius: 5px;
}
.rozklad_route_description_times {
    max-height: 340px;
    margin: 20px;
    font-size: 16px;
    color: #555;
    overflow-y: auto;
}

/*controlling for tour---------------------------------------*/
.rozklad_tour_description_control {
    /*padding: 7px;*/
    /*margin: 0 auto;*/
    /*border: 3px solid #777;*/
    border-radius: 0 0 30px 30px;
    margin: 0 50px 10px 50px;
    background-color: #fffb99;
}
.rozklad_tour_description_control_panel{
    font-family: 'Lobster', cursive;
    font-size: 18px;
    color: #777;
    /*margin-bottom: 5px;*/
    padding: 5px 0;
    text-align: center;
}
.rozklad_tour_description_stationName {
    display: inline-block;
    max-width: 170px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rozklad_tour_description_control_icon {
    padding-top: 2px;
    text-align: center;
    color: #777;
}
.rozklad_tour_description_control_icon i {
    padding: 3px;
    margin: 0 auto;
    border: 2px solid #777;
    border-radius: 5px;
}
.rozklad_tour_description_control_icon i:hover {
    cursor: pointer;
    background-color: yellow;
}
.rozklad_tour_description_control_icon_active {
    background-color: #fff973;
}
.rozklad_tour_description_control_direction:hover {
    cursor: pointer;
    color: #333;
}
/*title page---------------------------------------*/
.rozklad_tour_description_title img{
    width: 100%;
}
.rozklad_tour_description_title p{
    margin: 10px;
    text-indent: 20px
}

/**/


/*.rorozklad_station_tabletable*/
.rozklad_route_description_timetable {
    background-color: #fcffd6;
    border-radius: 10px;
    max-height: 340px;
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #555;
    overflow-y: auto;
}
.rozklad_route_description_timetable p{
    margin: 5px 0 0 0;
}
.rozklad_station_timetable{
    margin-bottom: 10px;
}
.rozklad_station_timetable dt{
    width: 30px;
    text-align: center;
    color: #ddd;
    background-color: #555;
}
.rozklad_station_timetable dd{
    margin: 0 0 0 40px;
}
.rozklad_station_timetable dd span{
    display: inline-block;
    padding: 0 5px;
}
.rozklad_toDepot {
    background-color: #ffff61;
}
.rozklad_timetable_depot_marker {
    /*display: block;*/
    position: absolute;
    margin: 0;
    /*text-align: right;*/
    bottom: 10px;
    right: 10px;
}
.rozklad_timetable_depot_marker span{
    display: inline-block;
    font-weight: 600;
    padding: 0 5px;
    background-color: #ff7474;
    color: black;
}