<div class="row" content-dir>
    <div class="col s12 m4 l3">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
        </ul>
    </div>
    <div class="col s12 m8 l9"></div>
</div>
<div parallax-dir>
    <div class="parallax-container">
        <div class="parallax"><img src="/img/title2.jpg"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <p class="grey-text text-darken-3 lighten-3 parallax_text">
                Завдяки інформації, яку можна знайти на сторінках цього сайту, Ви зможете краще спланувати свої
                поїздки на роботу, навчання чи відпочинок, не витрачаючи дорогоцінного часу на непотрібне очікування
                на зупинках. Ця ініціатива допоможе вінничанам та гостям міста зберегти, час, гроші та здоров’я.
                А зекономлений час ви зможете використати на щось більш корисне, ніж очікування.
            </p>
            <p class="grey-text text-darken-3 lighten-3 right-align">З повагою, Команда проекту</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/img/title3.jpg"></div>
    </div>
</div>